@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://t3.ftcdn.net/jpg/07/73/71/34/360_F_773713490_HPpmsbOcCZ316tVH4orgxvaTv94r9u96.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* optional for better text contrast */
    padding: 2rem;
    border-radius: 15px;
}


.headings-container {
    padding: 0 1rem;
}

.interaction-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}



.text-control {
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    font-size: 1rem;
    width: 100%;
    max-width: 500px;
    resize: none;
}


.text-control:focus-visible {
    outline: none;
}

.error-para {
    color: red;
}

.btn {
    padding: 0.8rem;
    background-image: linear-gradient(90deg, #F4244C, #F57D4E);
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover {
    padding: 1rem;
}